version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: order-pickup-api
    env_file:
      - config/.env.dev
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: order-pickup-db
    environment:
      POSTGRES_DB: pickup
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: